    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }




    .card-container {
        perspective: 1000px;
        display: flex;
        border: #00000096;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
    }

    .image {
        width: 90%;
        height: 100%;
        padding: 10px 0px 10px 50px;

    }

    .card {
        width: 450px;
        height: 600px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;
        overflow: hidden;

    }

    .card_right {
        width: 350px;
        height: 590px;
        background-color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: center;

    }

    .info_box {
        width: 280px;
        height: 350px;
        position: relative;
        margin: 30px 10px 0px 15px;
        overflow: hidden;
        text-align: left;
        padding: 0px 10px 30px 10px;
        background-color: #e7e7e7;

    }

    .info-content {
        font-weight: normal;
        background-color: #e7e7e7;
    }

    .info_button {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: #e7e7e7;
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        cursor: pointer;
        border: none;
        outline: none;
    }

    .info-content p {
        font-size: 18px;
        margin: 5px 0;
    }

    .moves-list ul {
        list-style-type: none;
        padding-left: 10px;
        font-weight: 50;
    }

    .moves-list li {
        padding: 1px 0;
        font-weight: 50;
        font-size: 20px;
        background-color: #e7e7e7;
    }

    .moves-list {
        background-color: #e7e7e7;
    }

    .hello-text {
        font-size: large;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .types-text {
        font-size: medium;
        font-weight: bold;
    }

    .moves_button {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        border: none;
        outline: none;
    }

    .name {
        width: 320px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        margin: 10px 10px 100px 50px;
        border: #808080;
        border-style: solid;
        border-width: 1.5px;
        font-size: large;
    }

    .pokemon_type {
        width: 150px;
        height: 20px;
        display: flex;
        justify-content: left;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: -70px 0px 0px 50px;

    }

    .type {
        width: 200px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        position: relative;
        background-color: rgba(20, 28, 174, 0);
        margin: 0px 0px 0px 50px;


    }

    .type span {
        margin: 0px 0px 0px 10px;
        border-radius: 5px;
        font: bold;
        height: 100%;
        width: 30%;

    }

    .arrows,
    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        box-sizing: border-box;
        border: none;
        outline: none;
    }

    .active-button {
        background-color: #00FF00;
        border: none;
        outline: none;
    }


    .left_arrow {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .right_arrow {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .card-pic {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 78%;
        height: 100%;
        max-height: 250px;
        object-fit: contain;
        border-bottom: 1px solid #ccc;
        border: #000000;
        border-style: solid;
    }

    .card-content {
        padding: -10px;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 1.5em;
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }