    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .card-container {
        perspective: 1000px;
        display: flex;
    }

    .image {
        width: 90%;
        height: 100%;
        padding: 10px 0px 10px 50px;

    }

    .card {
        width: 450px;
        height: 600px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    .card_right {
        width: 350px;
        height: 600px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px rgb(231, 231, 231);
        position: relative;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: center;
    }

    .info_box {
        width: 270px;
        height: 400px;
        position: relative;
        margin: 40px 10px 0px 15px;
        background-color: #e7e7e7;
    }

    .info_button {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(6, 129, 8);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .hello-text {
        font-size: large;
        font-weight: bold;
    }

    .types-text {
        font-size: medium;
        font-weight: bold;
    }

    .moves_button {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .name {
        width: 320px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        margin: 10px 10px 100px 50px;
    }

    .pokemon_type {
        width: 150px;
        height: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: -70px 0px 0px 50px;

    }

    .type {
        width: 200px;
        height: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: rgb(38, 48, 224);
        border-radius: 10px;
        margin: 0px 0px 0px 50px;

    }

    .arrows,
    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        box-sizing: border-box;
    }

    .left_arrow {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
        font: bold;
    }

    .right_arrow {
        width: 100px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .card-pic {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 90%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
        border-bottom: 1px solid #ccc;
    }

    .card-content {
        padding: -10px;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 1.5em;
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }